---
# layout: compress
---
<!-- 默认页 -->
<!DOCTYPE html>
<html>
<!-- SEO -->
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        {% seo %}
    </head>
<!-- 返回按钮 -->
    <body style="background-color: rgb(255, 255, 255)">
        <script async src="{{site.baseurl}}/assets/js/theme.min.js"></script>
        <header>
            <a href="{{site.baseurl}}/">
                <div class="home"></div>
            </a>
        </header>

        <main>
            <article>
                {{ content }}
            </article>
        </main>
<!-- 页脚 -->
        <footer>
            <div class="links">
                <a class="theme" onclick="theme()">暗/亮</a>
                <a href="{{site.baseurl}}/about/">关于</a>
                <a href="{{site.baseurl}}/contact/">联系</a>
            </div>
            <br>
        </footer>
    </body>
</html>
